.enter-button {
  background-image: url('../img/cube-bg.svg');
  background-size: 261px 260px;
  background-repeat: no-repeat;
  background-position: top center;

  width: 265px;
  height: 258px;

  position: relative;

  margin-top: -2px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::before {
    position: absolute;
    content: '';

    background-image: url('../img/btn-round.svg');
    background-size: 231px 231px;
    background-repeat: no-repeat;

    width: 231px;
    height: 231px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }

  &__link {
    display: block;

    background-color: #f50057;

    border-radius: 50%;
    border: 2px solid $bg-border;
    width: 167px;
    height: 167px;

    z-index: 10;

    position: relative;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:hover {
      box-shadow:0px 0px 22px 2px rgba(0,0,0,0.5)inset;
      -webkit-box-shadow:0px 0px 22px 2px rgba(0,0,0,0.5)inset;
      -moz-box-shadow:0px 0px 22px 2px rgba(0,0,0,0.5)inset;

      .enter-button__tech {
        display: none;
      }
    }
  }

  &__tech {
    position: relative;

    top: 75px;

    display: block;
    transform: rotate(45deg);

    &::after {
      position: absolute;
      content: '';

      width: 140px;
      height: 140px;
      border-radius: 70px;

      border-top: 6px solid #f85790;
      border-left: 6px solid #f50057;
      border-right: 6px solid #f50057;
      border-bottom: 6px solid #f50057;

      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }
  }
}
