@font-face {
	font-family: 'NEXT';
	src: url('../fonts/NEXT ART_Bold.eot');
	src: local('☺'), url('../fonts/NEXT ART_Bold.woff') format('woff'), url('../fonts/NEXT ART_Bold.ttf') format('truetype'), url('../fonts/NEXT ART_Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'NEXT';
	src: url('../fonts/NEXT ART_SemiBold.eot');
	src: local('☺'), url('../fonts/NEXT ART_SemiBold.woff') format('woff'), url('../fonts/NEXT ART_SemiBold.ttf') format('truetype'), url('../fonts/NEXT ART_SemiBold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'NEXT';
	src: url('../fonts/NEXT ART_Regular.eot');
	src: local('☺'), url('../fonts/NEXT ART_Regular.woff') format('woff'), url('../fonts/NEXT ART_Regular.ttf') format('truetype'), url('../fonts/NEXT ART_Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/GothamExtraLight.eot');
	src: local('☺'), url('../fonts/GothamExtraLight.woff') format('woff'), url('../fonts/GothamExtraLight.ttf') format('truetype'), url('../fonts/GothamExtraLight.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}
