.footer {
  width: 100%;
  background-color: $bg-footer;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 0;
  margin-top: auto;

  position: relative;

  padding-top: 3px;
  padding-bottom: 3px;

  border-top: 2px solid $bg-border;

  z-index: 3;

  &__wrapper {
    @include container;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin-bottom: 4px;
  }

  &__description {
    font: {
      family: $footer-font;
      size: 0.375em;
    }

    color: $text-white;
    opacity: 0.5;
    line-height: 1;

    margin: 0;
  }
}

@media only screen and (min-width: $mobile) {
  .footer {
    z-index: 3;

    &__wrapper {
      width: 100%;
      margin-bottom: 4px;
    }

    &__description {
      font: {
        family: $footer-font;
        size: 0.375em;
      }

      color: $text-white;
      opacity: 0.5;
      line-height: 1;

      margin: 0;
    }
  }
}

@media only screen and (min-width: $tablets) {
  .footer {
    padding-top: 10px;

    &__wrapper {
      width: 100%;
      margin-bottom: 7px;

      justify-content: space-evenly;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .footer {
    padding-top: 10px;

    &__wrapper {
      width: 100%;
      margin-bottom: 7px;

      justify-content: space-between;
    }
  }
}
