.footer-item {
  @include btn;

  padding-left: 10px;
  padding-right: 10px;

  &:not(:last-of-type) {
    border-right: none;
  }

  &__link {
    font: {
      family: $bold-font;
      size: 0.875em;
    }

    color: $text-white;
    line-height: 1;

    text-decoration: none;
  }
}
