.footer-item {
  @include btn;

  padding-left: 10px;
  padding-right: 10px;

  &:not(:last-of-type) {
    border-right: none;
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;

    font: {
      family: $bold-font;
      size: 0.875em;
    }

    color: $text-white;
    line-height: 1;

    text-decoration: none;
  }
}

@media only screen and (min-width: $hd) {
  .footer-item {
    @include btn;

    padding-left: 13px;
    padding-right: 13px;

    &__link {
      display: block;
      width: 100%;
      height: 100%;

      font: {
        family: $bold-font;
        size: 1em;
      }
    }
  }
}
