.footer-nav {
  @include flex-setting(row, center, center);

  &__list {
    display: none;
  }

  &__vote {
    @include btn;
  }
}

@media only screen and (min-width: $laptop) {
  .footer-nav {

    &__list {
      @include flex-setting(row, center, center);

      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__item {
      &-link {
        @include btn;
        text-decoration: none;
      }
    }

    &__vote {
      display: none;
    }
  }
}
