.footer-nav {
  display: flex;

  &__vote {
    @include btn;
  }
}

@media only screen and (min-width: $laptop) {
  .footer-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__vote {
      display: none;
    }
  }
}
