.footer-contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__logo {
    display: none;
  }

  &__btn {
    @include btn;

    &:hover {
      color: $hover-color;
      border-color: $hover-color;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .footer-contacts {
    flex-direction: row;
    justify-content: space-between;

    &__logo {
      display: block;

      width: 84px;
      height: auto;

      margin-right: 20px;
    }

    &__link {
      width: 100%;
      height: 100%;
      text-decoration: none;
    }

    &__img {
      width: 84px;
      height: auto;
    }
  }
}

@media only screen and (min-width: $hd) {
  .footer-contacts {
    &__logo {
      width: 156px;

      margin-right: 35px;
    }

    &__img {
      width: 156px;
    }
  }
}

@media only screen and (min-width: $fhd) {
  .footer-contacts {
    &__logo {
      width: 211px;

      margin-right: 50px;
    }

    &__img {
      width: 211px;
    }
  }
}
