.footer {
  width: 100%;
  background-color: $bg-footer;

  @include flex-setting(column, flex-start, center);

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  padding-top: 3px;
  padding-bottom: 3px;

  border-top: 2px solid $bg-border;

  z-index: 10;

  &__wrapper {
    @include flex-setting(row, space-between, center);

    width: 100%;
    margin-bottom: 4px;

    padding-left: 0.813rem;
    padding-right: 0.813rem;
  }

  &__copyright {
    width: 100%;
    @include flex-setting(column, center, center);
  }

  &__description {
    @include font-setting($footer-font, 0.375rem, 1, 100, $text-white);

    opacity: 0.5;
  }
}

@media only screen and (min-width: $mobile-hd) {
  .footer {
    padding-top: 0.5rem;

    &__wrapper {
      margin-bottom: 0.5rem;
    }

    &__description {
      font-size: 0.5rem;
    }
  }
}

@media only screen and (min-width: $tablets) {
  .footer {
    padding-top: 0.625rem;

    &__wrapper {
      margin-bottom: 0.5rem;
    }
  }
}

@media only screen and (min-width: $laptop) {

}

@media only screen and (min-width: $hd) {
  .footer {
    padding-top: 1.125rem;

    &__wrapper {
      margin-bottom: 0.25rem;
    }

    &__description {
      font-size: 0.625rem;
    }
  }
}

@media only screen and (min-width: $fhd) {
  .footer {
    padding-top: 1.5rem;

    &__description {
      font-size: 0.813em;
    }
  }
}
