html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px !important;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;

  position: relative;
  text-transform: uppercase;

  background-image: url('../img/bg-planets-2019.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  color: $text-white;

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  @media only screen and (min-width: $laptop) {
    overflow: hidden;
  }
}

.section {
  min-height: 100vh;
}

a,
button {
  cursor: pointer;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}
