.main-intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  background-image: url('../img/index-title-bg.svg');
  background-size: 309px 224px;
  background-repeat: no-repeat;

  width: 309px;
  height: 224px;

  margin-top: -35px;
  padding-bottom: 20px;
  margin-bottom: 8px;

  &--checkout {
    background-image: url('../img/checkout-bg.svg');
    background-size: 309px 144px;
    background-repeat: no-repeat;

    width: 309px;
    height: 144px;

    margin-top: -20px;
    margin-bottom: 8px;
  }

  &__title {
    font: {
      size: 1.25em;
      family: $bold-font;
    }

    color: $text-red;
    line-height: normal;

    margin-top: 45px;
    margin-bottom: 10px;

    &--checkout {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }

  &__description {
    font: {
      family: $bold-font;
      size: 0.75em;
    }

    color: $text-black;
    line-height: normal;

    text-align: center;
    width: 240px;

    margin: 0;
    margin-bottom: 10px;

    &--checkout {
      margin-top: 35px;
      margin-bottom: 5px;
    }
  }
}

@media only screen and (min-width: $iphone) {
  .main-intro {
    background-size: 366px 265px;

    width: 366px;
    height: 265px;

    &--checkout {
      background-size: 366px 171px;

      width: 366px;
      height: 171px;

      margin-bottom: 75px;
    }

    &__title {
      font: {
        size: 1.375em;
      }
    }

    &__description {
      font: {
        size: 0.875em;
      }

      width: 320px;
    }
  }
}

@media only screen and (min-width: $mobile-hd) {
  .main-intro {
    background-size: 406px 295px;

    width: 406px;
    height: 295px;

    &__title {
      font: {
        size: 1.875em;
      }

      margin-top: 40px;
      margin-bottom: 5px;

      &--checkout {
        margin-top: 0px;
      }
    }

    &__description {
      font: {
        size: 1.125em;
      }

      margin-bottom: 10px;

      &--checkout {
        margin-top: 30px;
        margin-bottom: 0;
        width: 380px;
      }
    }

    &--checkout {
      margin-bottom: 6px;

      background-size: 399px 186px;

      width: 399px;
      height: 186px;

      .main-intro__description--lower {
        width: 380px;
      }
    }
  }
}

@media only screen and (min-width: $tablets) {
  .main-intro {
    background-size: 420px 305px;

    width: 420px;
    height: 305px;

    margin-top: -30px;

    &--checkout {
      display: none;
    }

    &__title {
      font: {
        size: 1.5em;
      }

      &--checkout {
        margin-top: 0;
        margin-bottom: 5px;
      }
    }

    &__description {
      font: {
        size: 1.125em;
      }

      width: 350px;

      margin-bottom: 20px;

      &--checkout {
        margin-top: 35px;
        margin-bottom: 5px;
      }
    }
  }
}

@media only screen and (min-width: $laptop) {
  .main-intro {
    background-image: url('../img/main-intro-bg-big.svg');
    background-size: 683px 174px;

    width: 683px;
    height: 174px;

    margin-top: -20px;

    &__title {
      margin-top: 30px;
    }

    &__description {
      font: {
        size: 0.875em;
      }

      width: 600px;

      margin-bottom: 10px;
    }
  }
}

@media only screen and (min-width: $hd) {
  .main-intro {
    background-size: 883px 226px;

    width: 883px;
    height: 226px;

    margin-top: -20px;

    &__title {
      margin-top: 40px;
      margin-bottom: 10px;

      font: {
        size: 1.75em;
      }
    }

    &__description {
      font: {
        size: 1em;
      }

      width: 730px;

      margin-bottom: 20px;
    }
  }
}
