.main-enter {
  display: none;
}

@media only screen and (min-width: $tablets) {
  .main-enter {
    @include flex-setting(column, flex-start, center);

    border: none;
    width: 100%;
    height: auto;

    position: absolute;

    background-image: none;

    bottom: 40px;
    left: 50%;

    transform: translateX(-50%);

    &::after {
      position: absolute;
      content: '';

      background-image: url('../img/city-bg.svg');
      background-size: 688px 368px;
      background-repeat: no-repeat;
      background-position: top center;

      width: 688px;
      height: 360px;

      bottom: -7px;
      left: 50%;

      transform: translateX(-50%);
    }

    &::before {
      display: none;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .main-enter {
    width: 780px;

    &::after {
      background-image: url('../img/tower-bg.svg');
      background-size: cover;

      width: 420px;
      height: 259px;

      left: 42%;

      transform: translateX(-42%);

      pointer-events: none;
    }

    &__tower {
      position: absolute;

      bottom: 0;

      &--left {
        background-image: url('../img/tower-left.svg');
        background-size: cover;
        background-repeat: no-repeat;

        width: 280px;
        height: 384px;

        left: 2%;

        transform: translateX(-2%);
      }

      &--right {
        background-image: url('../img/tower-right.svg');
        background-size: cover;
        background-repeat: no-repeat;

        width: 230px;
        height: 384px;

        right: 0;

        z-index: 10;
      }
    }
  }
}

@media only screen and (min-width: $hd) {
  .main-enter {
    width: 956px;

    position: relative;

    bottom: auto;
    left: auto;

    transform: none;

    margin-top: 146px;

    &::before {
      display: block;

      width: 974px;
      height: 467px;

      background-image: url('../img/big-bottom.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;

      z-index: 0;

      position: absolute;
      content: '';

      left: auto;
      right: auto;
      bottom: -500px;
    }

    &::after {
      background-image: url('../img/tower-bg.svg');
      background-size: 519px 320px;

      width: 519px;
      height: 320px;

      left: 42%;
      bottom: -43px;

      transform: translateX(-42%);
    }

    &__tower {
      position: absolute;

      bottom: -36px;

      &--left {
        background-image: url('../img/tower-left.svg');
        background-size: 359px 493px;
        background-repeat: no-repeat;

        width: 359px;
        height: 493px;

        left: 2%;

        transform: translateX(-2%);
      }

      &--right {
        background-image: url('../img/tower-right.svg');
        background-size: 281px 467px;
        background-repeat: no-repeat;

        width: 281px;
        height: 467px;

        right: 0;

        z-index: 10;
      }
    }
  }
}

@media only screen and (min-width: $fhd) {
  .main-enter {
    width: 956px;

    position: relative;

    bottom: auto;
    left: auto;

    transform: none;

    margin-top: 240px;

  }
}
