.main-enter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  border: 2px solid $bg-border;

  width: 265px;

  position: relative;

  &__title {
    width: 100%;

    font: {
      family: $bold-font;
      size: 1.25em;
    }

    color: $text-black;
    line-height: 1;

    background-color: $bg-orange;
    text-align: center;

    margin: 0;

    padding-top: 10px;
    padding-bottom: 10px;

    border-bottom: 2px solid $bg-border;
  }

  &::after {
    position: absolute;
    content: '';

    width: 67px;
    height: 140px;

    background-image: url('../img/left-pipe.svg');
    background-size: 67px 140px;
    background-repeat: no-repeat;
    background-position: top center;

    bottom: -88px;
    left: -24px;
  }

  &::before {
    position: absolute;
    content: '';

    width: 67px;
    height: 140px;

    background-image: url('../img/right-pipe.svg');
    background-size: 67px 140px;
    background-repeat: no-repeat;
    background-position: top center;

    bottom: -88px;
    right: -24px;

    z-index: 3;
  }
}

@media only screen and (min-width: $tablets) {
  .main-enter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border: none;
    width: 100%;
    height: auto;

    margin-bottom: 0;
    margin-top: auto;

    position: absolute;

    background-image: none;

    bottom: 40px;
    left: 50%;

    transform: translateX(-50%);

    &__title {
      display: none;
    }

    &::after {
      position: absolute;
      content: '';

      background-image: url('../img/city-bg.svg');
      background-size: 688px 368px;
      background-repeat: no-repeat;
      background-position: top center;

      width: 688px;
      height: 360px;

      bottom: 0;
      left: 50%;

      transform: translateX(-50%);
    }

    &::before {
      display: none;
    }
  }
}
