@mixin container {
  margin: 0 auto;
  padding: 0 14px;
  width: auto;
  max-width: 100%;

  @media (min-width: 360px) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 14px;
  }

  @media (min-width: $iphone) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 14px;
  }

  @media (min-width: 480px) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
  }

  @media (min-width: $tablets) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 40px;
  }

  @media (min-width: $laptop) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 34px;
  }

  @media (min-width: $hd) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 80px;
  }

  @media (min-width: $fhd) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 90px;
  }
}

@mixin btn {
  @include font-setting($primary-font, 0.875rem, 1, 700, $text-white);
  @include flex-setting(column, center, center);

  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  height: 22px;

  background-color: transparent;
  border: 2px solid #ffffff;

  &:hover {
    border-color: $hover-color;
    color: $hover-color;
    transition: 0.1s ease-in-out;
  }

  @media only screen and (min-width: $hd) {
    border: 3px solid #ffffff;
    height: 38px;

    padding-left: 1rem;
    padding-right: 1rem;

    font-size: 1.625rem;
  }

  @media only screen and (min-width: $fhd) {
    border: 3px solid #ffffff;
    height: 44px;

    font-size: 2.188rem;
  }
}

@mixin checkbox-default {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  position: relative;
  padding-left: 30px;

  @media only screen and (min-width: $mobile-hd) {
    padding-left: 30px;
  }

  @media only screen and (min-width: $tablets) {
    padding-left: 20px;
  }
}

@mixin custom-checkbox {
  position: absolute;
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  top: 0;
  left: 0;
  border: 2px solid $bg-border;

  @media only screen and (min-width: $mobile-hd) {
    top: 50%;
    left: 0;

    transform: translateY(-50%);
  }

  @media only screen and (min-width: $tablets) {
    width: 14px;
    height: 14px;
  }

  @media only screen and (min-width: $laptop) {
    top: -4px;
    transform: none;
  }

  @media only screen and (min-width: 1920px) {
    top: -2px;
    transform: none;
  }
}

@mixin checkbox-checked {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  width: 18px;
  height: 18px;
  background-image: url('../img/check.svg');
  background-size: 18px 18px;
  background-repeat: no-repeat;

  @media only screen and (min-width: $mobile-hd) {
    top: 50%;
    left: 2px;

    transform: translateY(-50%);
  }

  @media only screen and (min-width: $tablets) {
    background-size: 10px 10px;
    width: 10px;
    height: 10px;
  }

  @media only screen and (min-width: $laptop) {
    top: -2px;
    transform: none;
  }

  @media only screen and (min-width: 1920px) {
    top: 0px;
    transform: none;
  }
}

@mixin soft-animation {
  transition-property: initial;
  transition-duration: 0.2s;
  transition-timing-function: initial;
  transition-delay: initial;
}

@mixin font-setting($family, $size, $line-height, $font-width, $color) {
  font-family: $family;
  font-size: $size;
  line-height: $line-height;
  font-weight: $font-width;
  color: $color;
}

@mixin flex-setting($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
