@mixin container {
  margin: 0 auto;
  padding: 0 14px;
  width: auto;
  max-width: 100%;

  @media (min-width: 360px) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 14px;
  }

  @media (min-width: 480px) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
  }

  @media (min-width: $tablets) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 40px;
  }

  @media (min-width: $laptop) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 34px;
  }

  @media (min-width: $widebooks-hd) {
    width: auto;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
  }
}

@mixin btn {
  border: 2px solid #ffffff;

  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;

  font: {
    family: $bold-font;
    size: 0.875em;
  }

  color: $text-white;
  line-height: 1;

  background-color: transparent;
}

@mixin checkbox-default {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  position: relative;
  padding-left: 30px;
}

@mixin custom-checkbox {
  position: absolute;
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  top: 0;
  left: 0;
  border: 2px solid $bg-border;
}

@mixin checkbox-checked {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  width: 18px;
  height: 18px;
  background-image: url('../img/check.svg');
  background-size: 18px 18px;
  background-repeat: no-repeat;
}

@mixin soft-animation {
  transition-property: initial;
  transition-duration: 0.2s;
  transition-timing-function: initial;
  transition-delay: initial;
}
