.nav-item {
  @include flex-setting(row, flex-start, center);
  width: 100%;

  padding-left: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  border-bottom: 2px solid $bg-border;

  &__link {
    text-decoration: none;
    text-align: left;

    @include font-setting($primary-font, 1.125rem, 1, 700, $text-black);
  }

  &--event {
    border-top: 2px solid $bg-border;
  }

  &--vote {
    position: relative;
    padding-right: 3.125rem;

    &::after {
      position: absolute;
      content:'';

      background-image: url('../img/menu-star.png');
      background-repeat: no-repeat;
      background-size: 39px 39px;

      width: 39px;
      height: 39px;

      top: 50%;
      right: 14px;

      transform: translateY(-50%);
    }
  }
}

@media only screen and (min-width: $tablets) {
  .nav-item {
    padding-left: 2.5rem;

    &__link {
      font-size: 1.25rem;
    }

    &--vote {
      &::after {
        right: 40px;
      }
    }
  }
}
