.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include flex-setting(column, flex-start, center);

  width: 100%;

  background-color: $bg-menu;
  position: absolute;

  left: -150%;
  top: 35px;

  transition: 0.2s ease-in-out;

  &.active {
    z-index: 101;
    top: 35px;
    left: 0;

    transition: 0.2s ease-in-out;
  }
}

@media only screen and (min-width: $tablets) {
  .nav-list {
    top: 47px;

    &.active {
      top: 47px;
    }
  }
}
