.private-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &:not(:last-of-type) {
    margin-right: 15px;
  }

  &__link {
    text-decoration: none;

    font: {
      family: $alternate-font;
      size: 0.438em;
    }

    color: $text-white;
    line-height: 1;
  }
}

@media only screen and (min-width: $hd) {
  .private-item {
    &:not(:last-of-type) {
      margin-right: 25px;
    }

    &__link {
      font: {
        family: $alternate-font;
        size: 0.813em;
      }
    }
  }
}

@media only screen and (min-width: $fhd) {
  .private-item {
    &:not(:last-of-type) {
      margin-right: 40px;
    }

    &__link {
      font: {
        family: $alternate-font;
        size: 1.125em;
      }
    }
  }
}
