.social-list {
  position: absolute;

  bottom: -240px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: $bg-footer;

  border: 2px solid $bg-border;
  border-bottom: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  margin: 0;
  list-style: none;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  z-index: -10;

  &--active {
    bottom: 40px;

    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: $tablets) {
  .social-list {
    &--active {
      bottom: 50px;

      z-index: 0;
    }
  }
}


@media only screen and (min-width: $hd) {
  .social-list {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 13px;
    padding-right: 13px;

    &--active {
      bottom: 74px;

      left: auto;
      right: 80px;

      transform: none;
    }
  }
}

@media only screen and (min-width: $fhd) {
  .social-list {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;

    &--active {
      bottom: 103px;
      right: 90px;
    }
  }
}
