.social-item {
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: none;

  background-color: #ffffff;

  position: relative;

  z-index: 2;

  &:not(:last-of-type) {
    margin-right: 12px;
  }

  &:hover {
    background-color: $social-hover;
  }

  .fa-youtube::before {
    position: absolute;
    content: '\f167';
    font-size: 1.25em;
    color: $text-gray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .fa-facebook-f::before {
    position: absolute;
    content: '\f39e';
    font-size: 1.25em;
    color: $text-gray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .fa-vk::before {
    position: absolute;
    content: '\f189';
    font-size: 1.25em;
    color: $text-gray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .fa-twitter::before {
    position: absolute;
    content: '\f099';
    font-size: 1.25em;
    color: $text-gray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .fa-instagram::before {
    position: absolute;
    content: '\f16d';
    font-size: 1.25em;
    color: $text-gray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .fa-odnoklassniki::before {
    position: absolute;
    content: '\f263';
    font-size: 1.25em;
    color: $text-gray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (min-width: $hd) {
  .social-item {
    width: 44px;
    height: 44px;

    &:not(:last-of-type) {
      margin-right: 17px;
    }

    .fa-youtube::before {
      font-size: 1.5em;
    }

    .fa-facebook-f::before {
      font-size: 1.5em;
    }

    .fa-vk::before {
      font-size: 1.5em;
    }

    .fa-twitter::before {
      font-size: 1.5em;
    }

    .fa-instagram::before {
      font-size: 1.5em;
    }

    .fa-odnoklassniki::before {
      font-size: 1.5em;
    }
  }
}

@media only screen and (min-width: $fhd) {
  .social-item {
    width: 60px;
    height: 60px;

    &:not(:last-of-type) {
      margin-right: 20px;
    }

    .fa-youtube::before {
      font-size: 2.5em;
    }

    .fa-facebook-f::before {
      font-size: 2.5em;
    }

    .fa-vk::before {
      font-size: 2.5em;
    }

    .fa-twitter::before {
      font-size: 2.5em;
    }

    .fa-instagram::before {
      font-size: 2.5em;
    }

    .fa-odnoklassniki::before {
      font-size: 2.5em;
    }
  }
}
