$mobile: 480px;
$tablets: 720px;
$notebooks: 1152px;
$widebooks: 1366px;
$widebooks-hd: 1440px;
$large-widebooks: 1600px;
$hd: 1920px;

$bg-header: #ffffff;
$bg-body: #f6d336;
$bg-black: #000000;
$bg-footer: #ffffff;
$bg-gray: #eeeeee;
$bg-red: #ed1c24;
$bg-darkred: #ad1e23;
$color-fb: #2661CD;
$color-vk: #3B5E8C;
$color-lightgreen: #22B454;
$color-darkgreen: #22b24c;
$border-logo: #8dc63f;

$btn-active: #ffffff;
$btn-pressed: #000000;

$text-black: #000000;
$text-white: #ffffff;
$text-blue: #2aace2;
$text-purple: #7f4796;

$base-font: "Arista Pro Regular", sans-serif;
$light-font: "Arista Pro Light", sans-serif;
$fat-font: "Arista Pro Fat", sans-serif;
$alternate-font: "Arista Pro Alternate", sans-serif;
$footer-font: "Gotham Extra Light", sans-serif;
$promo-font: "Helvetica", sans-serif;
$base-font-color: #000;
$base-font-size: 16px;
$base-font-weight: normal;

$baseFontColor: $text-black;
$baseFontFamily: $base-font;
