.choose-item {
  width: 262px !important;
  height: 290px;

  background-color: #64b5f6;
  margin-top: 20px;
  margin-left: 22px;

  border: 2px solid $bg-black;

  &__link {
    width: 100%;
    height: 100%;

    display: block;
  }

  &__preview {
    width: 290px;
    height: auto;
  }
}

@media only screen and (min-width: $iphone) {
  .choose-item {
    width: 340px !important;
    height: 377px;

    margin-left: 23px;

    border: 3px solid $bg-black;

    &__preview {
      width: 340px;
      height: auto;
    }
  }
}

@media only screen and (min-width: $mobile-hd) {
  .choose-item {
    width: 350px !important;
    height: 387px;

    margin-left: 23px;

    border: 3px solid $bg-black;

    &__preview {
      width: 350px;
      height: auto;
    }
  }
}
