.choose-item {
  width: 260px !important;
  height: 290px;

  background-color: #64b5f6;

  margin-top: 22px;
  margin-left: 24px;

  &__link {
    width: 100%;
    height: 100%;

    display: block;
  }

  &__preview {
    width: 290px;
    height: 310px;
  }
}

@media only screen and (min-width: $mobile-hd) {
  .choose-item {
    width: 338px !important;
    height: 378px;

    background-color: #64b5f6;

    margin-top: 32px;
    margin-left: 33px;

    &__preview {
      width: 338px;
      height: 390px;
    }
  }
}


@media only screen and (min-width: $tablets) {

}
