.choose-carousel {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: relative;

  &::before {
    position: absolute;
    content: '';

    width: 301px;
    height: 129px;

    background-image: url('../img/wires-second.svg');
    background-repeat: no-repeat;
    background-size: 301px 129px;

    bottom: -13px;
    left: 51%;

    transform: translateX(-51%);

    z-index: -2;
  }

  .slider-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 214px;

    border: 2px solid $bg-border;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    background-color: #ffc400;

    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;

    position: relative;

    margin-top: 14px;

    &__agree {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    &__controls {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    &__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    &__title {
      font: {
        family: $bold-font;
        size: 0.5em;
      }

      color: $text-black;
      line-height: normal;

      margin-top: 10px;
      margin-bottom: 0;
    }

    &__link {
      display: block;

      width: 40px;
      height: 40px;

      position: relative;

      border-radius: 20px;
      border: 2px solid $bg-border;

      cursor: pointer;
      outline: none;

      background-color: #ff6d00;
      transform: rotate(45deg);

      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      /*Стилизация блика*/
      &::after {
        position: absolute;
        content: '';
        width: 34px;
        height: 34px;
        border-radius: 17px;

        border-top: 4px solid #ff994d;
        border-left: 4px solid #ff6d00;
        border-right: 4px solid #ff6d00;
        border-bottom: 4px solid #ff6d00;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }

      .slider-buttons__text {
        position: absolute;

        width: 26px;
        height: 26px;

        top: 50%;
        left: 50%;

        background-image: url('../img/tick.svg');
        background-repeat: no-repeat;
        background-size: 26px 26px;

        transform: translate(-50%, -50%) rotate(-45deg);

        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
    }

    .prev-1 {
      width: 40px;
      height: 40px;

      position: relative;

      border-radius: 20px;
      border: 2px solid $bg-border;

      cursor: pointer;
      outline: none;

      margin-right: 10px;
      transform: rotate(45deg);

      background-color: #558b2f;
      /*Стилизация для иконки*/
      &__text {
        display: block;

        position: absolute;

        width: 22px;
        height: 22px;

        top: 50%;
        left: 50%;

        background-image: url('../img/begin.png');
        background-repeat: no-repeat;
        background-size: 22px 22px;

        transform: translate(-50%, -50%) rotate(-45deg);
      }
      /*Стилизация блика*/
      &::after {
        position: absolute;
        content: '';
        width: 34px;
        height: 34px;
        border-radius: 17px;

        border-top: 4px solid #88ae6e;
        border-left: 4px solid #558b2f;
        border-right: 4px solid #558b2f;
        border-bottom: 4px solid #558b2f;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
      /*Ховер кнопки и блика*/
      &:hover {
        background-color: #aeea00;

        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &::after {
          border-top: 4px solid #c6f04d;
          border-left: 4px solid #aeea00;
          border-right: 4px solid #aeea00;
          border-bottom: 4px solid #aeea00;

          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
      }
    }

    .next-1 {
      width: 40px;
      height: 40px;

      position: relative;

      border-radius: 20px;
      border: 2px solid $bg-border;

      cursor: pointer;
      outline: none;

      transform: rotate(45deg);

      background-color: #558b2f;

      &__text {
        display: block;

        position: absolute;

        width: 22px;
        height: 22px;

        top: 50%;
        left: 50%;

        background-image: url('../img/final.png');
        background-repeat: no-repeat;
        background-size: 22px 22px;

        transform: translate(-50%, -50%) rotate(-45deg);
      }
      /*Стилизация блика*/
      &::after {
        position: absolute;
        content: '';
        width: 34px;
        height: 34px;
        border-radius: 17px;

        border-top: 4px solid #88ae6e;
        border-left: 4px solid #558b2f;
        border-right: 4px solid #558b2f;
        border-bottom: 4px solid #558b2f;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
      /*Ховер кнопки и блика*/
      &:hover {
        background-color: #aeea00;

        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &::after {
          border-top: 4px solid #c6f04d;
          border-left: 4px solid #aeea00;
          border-right: 4px solid #aeea00;
          border-bottom: 4px solid #aeea00;

          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
      }
    }
  }
}

@media only screen and (min-width: $tablets) {

}
