.choose-slider {
  width: 305px;
  height: 335px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: $iphone) {
  .choose-slider {
    width: 386px;
    height: 420px;
  }
}

@media only screen and (min-width: $mobile-hd) {
  .choose-slider {
    width: 396px;
    height: 438px;
  }
}
