.choose-slider {
  width: 305px;
  height: 305px;

  @include flex-setting(row, center, center);
}

@media only screen and (min-width: $iphone) {
  .choose-slider {
    width: 346px;
    height: 346px;
  }
}

@media only screen and (min-width: $iphone) and (min-device-height: 719px) {
  .choose-slider {
    width: 366px;
    height: 366px;
  }
}

@media only screen and (min-width: $mobile-hd) {
  .choose-slider {
    width: 396px;
    height: 438px;
  }
}
