.choose-carousel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: relative;

  width: 305px;
  height: 335px;

  background-color: #ffca28;

  border: 2px solid $bg-border;

  box-shadow: 0px 0px 0px 6px rgba(255,171,0,1)inset;
  -webkit-box-shadow: 0px 0px 0px 6px rgba(255,171,0,1)inset;
  -moz-box-shadow: 0px 0px 0px 6px rgba(255,171,0,1)inset;

  &__block {
    position: absolute;

    width: 29px;
    height: 29px;

    background-color: #ffca28;
    border: 2px solid $bg-border;

    z-index: 100;

    &::after {
      position: absolute;
      content: '';

      width: 14px;
      height: 14px;

      border: 2px solid $bg-border;

      background-color: #ff1744;

      transform: rotate(45deg);

      top: 5px;
      left: 5px;
    }

    &--first {
      top: -4px;
      left: -4px;
    }

    &--second {
      top: -4px;
      right: -4px;
    }

    &--third {
      bottom: -4px;
      left: -4px;
    }

    &--fourth {
      bottom: -4px;
      right: -4px;
    }
  }

  &::before {
    position: absolute;
    content: '';

    width: 301px;
    height: 170px;

    background-image: url('../img/start-wires.svg');
    background-repeat: no-repeat;
    background-size: cover;

    bottom: -144px;
    left: 51%;

    transform: translateX(-51%);

    z-index: -2;
  }

  .slider-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 214px;
    min-height: 57px;

    border: 2px solid $bg-border;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    background-color: #ffc400;

    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;

    position: relative;

    margin-top: 14px;

    &__agree {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    &__controls {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    &__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    &__title {
      font: {
        family: $bold-font;
        size: 0.5em;
      }

      color: $text-black;
      line-height: normal;

      margin-top: 2px;
      margin-bottom: 0;
    }

    &__link {
      display: block;

      width: 40px;
      height: 40px;

      position: relative;

      border-radius: 20px;
      border: 2px solid $bg-border;

      cursor: pointer;
      outline: none;

      background-color: #ff6d00;
      transform: rotate(45deg);

      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      /*Стилизация блика*/
      &::after {
        position: absolute;
        content: '';
        width: 34px;
        height: 34px;
        border-radius: 17px;

        border-top: 4px solid #ff994d;
        border-left: 4px solid #ff6d00;
        border-right: 4px solid #ff6d00;
        border-bottom: 4px solid #ff6d00;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }

      .slider-buttons__text {
        position: absolute;

        width: 26px;
        height: 26px;

        top: 50%;
        left: 50%;

        background-image: url('../img/tick.svg');
        background-repeat: no-repeat;
        background-size: 26px 26px;

        transform: translate(-50%, -50%) rotate(-45deg);

        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
    }

    .prev-1 {
      width: 40px;
      height: 40px;

      position: relative;

      border-radius: 20px;
      border: 2px solid $bg-border;

      cursor: pointer;
      outline: none;

      margin-right: 10px;
      transform: rotate(45deg);

      background-color: #558b2f;
      /*Стилизация для иконки*/
      &__text {
        display: block;

        position: absolute;

        width: 22px;
        height: 22px;

        top: 50%;
        left: 50%;

        background-image: url('../img/begin.png');
        background-repeat: no-repeat;
        background-size: 22px 22px;

        transform: translate(-50%, -50%) rotate(-45deg);
      }
      /*Стилизация блика*/
      &::after {
        position: absolute;
        content: '';
        width: 34px;
        height: 34px;
        border-radius: 17px;

        border-top: 4px solid #88ae6e;
        border-left: 4px solid #558b2f;
        border-right: 4px solid #558b2f;
        border-bottom: 4px solid #558b2f;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
      /*Ховер кнопки и блика*/
      &:hover {
        background-color: #aeea00;

        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &::after {
          border-top: 4px solid #c6f04d;
          border-left: 4px solid #aeea00;
          border-right: 4px solid #aeea00;
          border-bottom: 4px solid #aeea00;

          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
      }
    }

    .next-1 {
      width: 40px;
      height: 40px;

      position: relative;

      border-radius: 20px;
      border: 2px solid $bg-border;

      cursor: pointer;
      outline: none;

      transform: rotate(45deg);

      background-color: #558b2f;

      &__text {
        display: block;

        position: absolute;

        width: 22px;
        height: 22px;

        top: 50%;
        left: 50%;

        background-image: url('../img/final.png');
        background-repeat: no-repeat;
        background-size: 22px 22px;

        transform: translate(-50%, -50%) rotate(-45deg);
      }
      /*Стилизация блика*/
      &::after {
        position: absolute;
        content: '';
        width: 34px;
        height: 34px;
        border-radius: 17px;

        border-top: 4px solid #88ae6e;
        border-left: 4px solid #558b2f;
        border-right: 4px solid #558b2f;
        border-bottom: 4px solid #558b2f;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
      /*Ховер кнопки и блика*/
      &:hover {
        background-color: #aeea00;

        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &::after {
          border-top: 4px solid #c6f04d;
          border-left: 4px solid #aeea00;
          border-right: 4px solid #aeea00;
          border-bottom: 4px solid #aeea00;

          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
      }
    }
  }
}

@media only screen and (min-width: $iphone) {
  .choose-carousel {
    width: 386px;
    height: 420px;

    border: 3px solid $bg-border;

    &__block {
      width: 36px;
      height: 36px;

      border: 3px solid $bg-border;

      &::after {
        width: 17px;
        height: 17px;

        top: 7px;
        left: 7px;
      }

      &--first {
        top: -7px;
        left: -7px;
      }

      &--second {
        top: -7px;
        right: -7px;
      }

      &--third {
        bottom: -7px;
        left: -7px;
      }

      &--fourth {
        bottom: -7px;
        right: -7px;
      }
    }

    &::before {
      width: 415px;
      height: 233px;

      background-size: cover;

      bottom: -190px;
      left: 51%;
    }

    .slider-buttons {
      width: 300px;
      min-height: 88px;

      margin-top: 17px;

      border: 3px solid $bg-border;

      &__title {
        font: {
          family: $bold-font;
          size: 0.75em;
        }

        margin-top: 5px;
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (min-width: $mobile-hd) {
  .choose-carousel {
    width: 396px;
    height: 438px;

    border: 3px solid $bg-border;

    &__block {
      width: 38px;
      height: 38px;

      border: 3px solid $bg-border;

      &::after {
        width: 18px;
        height: 18px;

        top: 7px;
        left: 7px;
      }

      &--first {
        top: -7px;
        left: -7px;
      }

      &--second {
        top: -7px;
        right: -7px;
      }

      &--third {
        bottom: -7px;
        left: -7px;
      }

      &--fourth {
        bottom: -7px;
        right: -7px;
      }
    }

    &::before {
      width: 425px;
      height: 236px;

      background-size: cover;

      bottom: -193px;
      left: 51%;
    }

    .slider-buttons {
      width: 300px;
      min-height: 88px;

      margin-top: 17px;

      border: 3px solid $bg-border;

      &__title {
        font: {
          family: $bold-font;
          size: 0.75em;
        }

        margin-top: 5px;
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (min-width: $laptop) {
  .choose-carousel {
    display: none;
  }
}
