.main-choose {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  &__title {
    width: 220px;
    margin: 0;

    font: {
      family: $bold-font;
      size: 0.875em;
    }

    color: $text-white;
    line-height: normal;
    text-align: center;

    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: $mobile-hd) {
  .main-choose {
    &__title {
      width: 260px;

      font: {
        size: 1em;
      }

      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

@media only screen and (min-width: $tablets) {
  .main-choose {
    &__title {
      width: 320px;

      font: {
        size: 1.25em;
      }

      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .main-choose {
    position: relative;
    margin-top: -30px;

    &::before {
      width: 974px;
      height: 467px;

      background-image: url('../img/big-bottom.svg');
      background-size: 100%;
      background-repeat: no-repeat;

      z-index: 0;

      position: absolute;
      content: '';

      left: auto;
      right: auto;
      bottom: -567px;
    }

    &__title {
      width: 520px;

      font: {
       size: 1.375em;
      }

      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

@media only screen and (min-width: $large-laptop) {
  .main-choose {
    position: relative;
    margin-top: -30px;

    &__title {
      margin-top: 35px;
      margin-bottom: 15px;
    }
  }
}

@media only screen and (min-width: $widebooks) {
  .main-choose {
    position: relative;
    margin-top: -30px;

    &__title {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

@media only screen and (min-width: $hd) {
  .main-choose {
    position: relative;
    margin-top: -100px;

    &__title {
      width: 520px;

      font: {
       size: 1.375em;
      }
    }
  }
}

@media only screen and (min-width: $fhd) {
  .main-choose {
    position: relative;
    margin-top: 0px;

    &__title {
      width: 520px;

      font: {
       size: 1.375em;
      }

      margin-bottom: 30px;
    }
  }
}
