@media only screen and (min-width: $laptop) {
  .main-item {
    border: 2px solid $bg-border;
    border-left: none;

    position: relative;

    width: 205px;

    z-index: 10;

    &:not(:last-of-type) {
      margin-right: 39px;
    }

    &__link {
      text-decoration: none;

      display: block;
      width: 160px;
      height: 100%;

      padding-top: 10px;
      padding-bottom: 10px;

      background-color: #ffa000;

      border-right: 2px solid $bg-border;
      border-left: 2px solid $bg-border;

      text-align: center;

      position: relative;

      cursor: pointer;
      outline: none;

      z-index: 10;

      &::after {
        position: absolute;
        content: '';

        background-image: url('../img/hole.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;

        width: 43px;
        height: 39px;

        top: 0;
        right: -45px;
      }
    }

    &__text {
      font: {
        size: 1.125em;
        family: $bold-font;
      }

      color: $text-black;
      line-height: 1;
    }

    &--checked {
      &::before {
        position: absolute;
        content: '';

        width: 44px;
        height: 38px;

        background-color: #8bf54e;

        top: 0;
        right: 0;
      }
    }
  }
}
