.main-nav {
  display: none;
}

@media only screen and (min-width: $laptop) {
  .main-nav {
    @include flex-setting(column, center, center);
    width: 100%;
    position: absolute;
    /*задняя штука*/
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 20px;
      background-color: rgba(255, 255, 255, 0.15);
      border-top: 2px solid $bg-border;
      border-bottom: 2px solid $bg-border;
      left: 0;
      top: 30%;
      transform: translateY(-30%);
      z-index: -10;
    }
    /*Полоска блика*/
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 3px;
      background-color: rgba(255, 255, 255, 0.25);
      top: 25%;
      left: 0;
      z-index: -1;
    }
  }
}


@media only screen and (min-width: $hd) {
  .main-nav {
    top: 18%;
    transform: translateY(-18%);
    /*задняя штука*/
    &::before {
      top: -80%;
      transform: none;
    }
    /*Полоска блика*/
    &::after {
      top: -75%;
    }
  }
}
