.main-choose {
  @include flex-setting(column, flex-start, center);
  width: 100%;

  &__title {
    width: 280px;
    margin: 0;

    @include font-setting($primary-font, 0.75rem, 1.2, 700, $text-white);

    text-align: center;

    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}

@media only screen and (min-width: 360px) {
  .main-choose {
    &__title {
      font-size: 0.875rem;

      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
}

@media only screen and (min-width: $iphone) {
  .main-choose {
    &__title {
      font-size: 1em;
      width: 320px;
      margin-top: 0.625rem;
      margin-bottom: 0.625rem;
    }
  }
}

@media only screen and (min-width: $iphone) and (min-device-height: 719px) {
  .main-choose {
    &__title {
      font-size: 1.25em;
      width: 340px;
      margin-top: 1.325rem;
      margin-bottom: 1.5rem;
    }
  }
}

@media only screen and (min-width: $mobile-hd) {
  .main-choose {
    &__title {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

@media only screen and (min-width: $tablets) {
  .main-choose {
    margin-top: -20px;

    &__title {
      width: 320px;

      font-size: 1.25rem;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .main-choose {
    position: relative;
    margin-top: -30px;

    &::before {
      width: 800px;
      height: 467px;

      background-image: url('../img/big-bottom.svg');
      background-size: cover;
      background-repeat: no-repeat;

      z-index: 0;

      position: absolute;
      content: '';

      left: auto;
      right: auto;
      bottom: -542px;
    }

    &__title {
      width: 520px;

      font-size: 1.375rem;

      margin-top: 0;
    }
  }
}

@media only screen and (min-width: $widebooks) {
  .main-choose {
    position: relative;
    margin-top: -30px;

    &__title {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

@media only screen and (min-width: $hd) {
  .main-choose {
    position: relative;
    margin-top: -100px;

    &::before {
      width: 960px;
      height: 500px;

      bottom: -608px;
    }

    &__title {
      width: 100%;

      font-size: 1.375rem;
    }
  }
}

@media only screen and (min-width: $fhd) {
  .main-choose {
    position: relative;
    margin-top: 0px;

    &__title {
      margin-bottom: 30px;
    }
  }
}
