@media only screen and (min-width: $laptop) {
  .series-link {
    @include flex-setting(column, flex-start, stretch);
    text-decoration: none;

    width: 100%;
    height: 100%;

    border: 2px solid $bg-border;

    cursor: pointer;
    outline: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &__wrapper {
      @include flex-setting(column, center, center);
      width: 132px;
      height: 148px;
      overflow-y: hidden;

      border-bottom: 2px solid $bg-border;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__title {
      margin: 0;

      @include font-setting($primary-font, 0.625rem, 1, 700, $text-green);
      @include flex-setting(column, center, center);

      background-color: $bg-slider-small;

      padding-top: 0.625rem;
      padding-bottom: 0.625rem;

      margin-top: 0.25rem;
      margin-bottom: 0.25rem;

      border-top: 2px solid $bg-border;
      border-bottom: 2px solid $bg-border;

      text-align: center;

      &--big {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  .series-link {
    &__wrapper {
      width: 162px;
      height: 150px;
    }

    &__title {
      font-size: 0.75rem;

      &--big {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}
