.title-slider {
  width: 262px;
  height: 57px;

  padding: 6px 6px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  position: relative;

  margin-top: 14px;
  z-index: -1;

  border: 2px solid $bg-border;
  background-color: #ffca28;

  &::before {
    position: absolute;
    content: '';

    width: 252px;
    height: 17px;

    bottom: -16px;
    left: 50%;

    transform: translateX(-50%);

    background-image: url('../img/under-title.svg');
    background-size: 252px 17px;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: $iphone) {
  .title-slider {
    width: 350px;
    height: 81px;

    margin-top: 13px;

    border: 3px solid $bg-border;

    &::before {
      width: 340px;
      height: 23px;

      bottom: -22px;
      background-size: 340px 23px;
    }
  }
}

@media only screen and (min-width: $mobile-hd) {
  .title-slider {
    width: 361px;
    height: 80px;

    margin-top: 12px;

    border: 3px solid $bg-border;

    &::before {
      width: 340px;
      height: 23px;

      bottom: -22px;
      background-size: 340px 23px;
    }
  }
}
