.form-item {
  @include flex-setting(column, flex-start, flex-start);
  width: 100%;

  position: relative;

  &--text {
    &::before {
      position: absolute;
      content: '';

      left: 0;
      bottom: 14px;

      width: 2px;
      height: 6px;

      background-color: $bg-border;
    }

    &::after {
      position: absolute;
      content: '';

      right: 0;
      bottom: 14px;

      width: 2px;
      height: 6px;

      background-color: $bg-border;
    }
  }

  &__label {
    @include font-setting($primary-font, 0.625rem, 1, 700, $text-black);
  }

  &__input {
    width: 100%;
    border: none;
    border-bottom: 2px solid $bg-border;
    @include font-setting($primary-font, 0.875rem, 1, 700, #1e88e5);

    background-color: transparent;
    outline: none;
    cursor: text;

    padding-left: 0.5rem;
  }

  &__error {
    visibility: hidden;

    @include font-setting($primary-font, 0.5rem, 1, 700, #ff1744);

    margin-bottom: 2px;
    margin-top: 2px;
  }

  &__input--checkbox + label {
    @include checkbox-default;
  }

  &__input--checkbox + label::before {
    @include custom-checkbox;
  }

  &__input--checkbox + label:hover::before {
    border-color: #1e88e5;

    @include soft-animation;
  }

  &__input--checkbox + label:active::before {
    border-color: #1e88e5;

    @include soft-animation;
  }

  &__input--checkbox:checked + label::after {
    @include checkbox-checked;
  }
}

@media only screen and (min-width: $mobile) {
  .form-item {
    &__label {
      font: {
        size: 11px;
      }
    }

    &__input {
      font: {
        size: 16px;
      }
    }

    &__error {
      visibility: hidden;
      font: {
        size: 8px;
      }

      margin-bottom: 2px;
      margin-top: 2px;
    }
  }
}

@media only screen and (min-width: $iphone) {
  .form-item {
    &__label {
      font: {
        size: 0.875em;
      }
    }

    &--text {
      &::before {
        left: 0;
        bottom: 16px;
      }

      &::after {
        right: 0;
        bottom: 16px;
      }
    }

    &__input {
      font: {
        size: 1.125em;
      }
    }

    &__error {
      visibility: hidden;
      font: {
        size: 0.625em;
      }
    }
  }
}

@media only screen and (min-width: $tablets) {
  .form-item {
    &__label {
      font: {
        size: 0.625em;
      }
    }

    &--text {
      &::before {
        bottom: 14px;
      }

      &::after {
        bottom: 14px;
      }
    }

    &__input {
      font: {
        size: 0.875em;
      }
    }

    &__error {
      visibility: hidden;
      font: {
        size: 0.5em;
      }
    }
  }
}

@media only screen and (min-width: $laptop) {
  .form-item {
    &__label {
      font: {
        size: 0.625em;
      }
    }

    &--text {
      &::before {
        bottom: 14px;
      }

      &::after {
        bottom: 14px;
      }
    }

    &__input {
      font: {
        size: 0.75em;
      }
    }

    &__error {
      visibility: hidden;
      font: {
        size: 0.5em;
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  .form-item {
    &__label {
      font: {
        size: 0.625em;
      }
    }
    
    &__input {
      font: {
        size: 0.875em;
      }
    }
  }
}
