.form-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;

  position: relative;

  &--text {
    &::before {
      position: absolute;
      content: '';

      left: 0;
      bottom: 12px;

      width: 2px;
      height: 6px;

      background-color: $bg-border;
    }

    &::after {
      position: absolute;
      content: '';

      right: 0;
      bottom: 12px;

      width: 2px;
      height: 6px;

      background-color: $bg-border;
    }
  }

  &__label {
    font: {
      family: $bold-font;
      size: 0.625em;
    }

    color: $text-black;
    line-height: normal;
  }

  &__input {
    width: 100%;
    border: none;
    border-bottom: 2px solid $bg-border;

    font: {
      family: $bold-font;
      size: 0.875em;
    }

    color: #1e88e5;
    line-height: normal;

    background-color: transparent;
    outline: none;
    cursor: text;

    padding-left: 8px;
  }

  &__error {
    visibility: hidden;
    font: {
      family: $bold-font;
      size: 0.5em;
    }

    color: #ff1744;
    line-height: normal;

    margin-bottom: 2px;
    margin-top: 2px;
  }

  &__input--checkbox + label {
    @include checkbox-default;
  }

  &__input--checkbox + label::before {
    @include custom-checkbox;
  }

  &__input--checkbox + label:hover::before {
    border-color: #1e88e5;

    @include soft-animation;
  }

  &__input--checkbox + label:active::before {
    border-color: #1e88e5;

    @include soft-animation;
  }

  &__input--checkbox:checked + label::after {
    @include checkbox-checked;
  }
}

@media only screen and (min-width: $mobile) {
  .form-item {
    &__label {
      font: {
        size: 0.725em;
      }
    }

    &__input {
      font: {
        size: 1em;
      }
    }

    &__error {
      visibility: hidden;
      font: {
        size: 0.5em;
      }

      margin-bottom: 2px;
      margin-top: 2px;
    }
  }
}
