.main-submit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  &__title {
    width: 280px;
    margin: 0;

    font: {
      family: $bold-font;
      size: 0.75em;
    }

    color: $text-white;
    line-height: normal;
    text-align: center;

    margin-top: 10px;
    margin-bottom: 5px;
  }

  &__subtitle {
    width: 280px;
    margin: 0;

    font: {
      family: $bold-font;
      size: 0.75em;
    }

    color: $text-white;
    line-height: normal;
    text-align: center;

    margin-top: 0;
    margin-bottom: 22px;
  }

  &__logo {
    width: 100%;

    position: relative;
    text-align: center;

    margin: 0;
  }

  &__img {
    width: 89px;
    height: auto;
  }
}
