.submit-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-image: url('../img/cassete-bg.svg');
  background-size: 243px 192px;
  background-repeat: no-repeat;
  width: 100%;
  height: 192px;

  padding-left: 12px;
  padding-right: 12px;
  padding-top: 27px;
  padding-bottom: 15px;

  position: relative;
}

@media only screen and (min-width: $mobile) {
  .submit-form {
    height: 218px;
    min-height: 218px;

    background-size: 275px 218px;

    padding-bottom: 12px;
  }
}

@media only screen and (min-width: $iphone) {
  .submit-form {
    width: 340px;
    height: 269px;
    min-height: 269px;

    background-size: 340px 269px;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 35px;
  }
}

@media only screen and (min-width: $mobile-hd) {
  .submit-form {
    width: 340px;
    height: 269px;
    min-height: 269px;

    background-size: 340px 269px;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 35px;
  }
}

@media only screen and (min-width: $tablets) {
  .submit-form {
    background-image: url('../img/form-bg-big.svg');
    background-size: 533px 156px;
    background-repeat: no-repeat;
    width: 100%;
    height: 158px;
    min-height: 158px;

    padding-left: 34px;
    padding-right: 34px;
    padding-top: 18px;
    padding-bottom: 12px;

    position: relative;

    z-index: 2;
  }
}
