.submit-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-image: url('../img/cassete-bg.svg');
  background-size: 243px 192px;
  background-repeat: no-repeat;
  width: 100%;

  padding-left: 12px;
  padding-right: 12px;
  padding-top: 38px;
  padding-bottom: 15px;

  position: relative;
}

@media only screen and (min-width: $mobile) {
  .submit-form {
    background-size: 275px 218px;

    padding-bottom: 12px;
  }
}

@media only screen and (min-width: $mobile-hd) {
  .submit-form {
    background-size: 315px 249px;
  }
}

@media only screen and (min-width: $tablets) {
  .submit-form {
    background-image: url('../img/form-bg-big.svg');
    background-size: 533px 156px;
    background-repeat: no-repeat;
    width: 100%;

    padding-left: 34px;
    padding-right: 34px;
    padding-top: 18px;
    padding-bottom: 12px;

    position: relative;

    z-index: 2;
  }
}
