.submit-send {
  width: 266px;
  height: 244px;

  background-color: $bg-player;
  border: 2px solid $bg-border;
  border-radius: 10px;

  position: relative;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 16px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__thing {
    position: absolute;

    width: 16px;
    height: 16px;
    border: 1px solid $bg-border;

    background-color: #78909c;

    border-radius: 8px;

    transform: rotate(45deg);

    .fa-plus::before {
      position: absolute;
      content: '\f067';

      font-size: 10px;
      color: $text-black;

      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }

    &--first {
      top: 2px;
      left: 2px;
    }

    &--second {
      top: 2px;
      right: 2px;
    }

    &--third {
      bottom: 2px;
      left: 2px;
    }

    &--fourth {
      bottom: 2px;
      right: 2px;
    }
  }
}

@media only screen and (min-width: $mobile) {
  .submit-send {
    width: 300px;
    height: 260px;
  }
}

@media only screen and (min-width: $iphone) {
  .submit-send {
    width: 380px;
    height: 330px;

    padding-left: 13px;
    padding-right: 13px;
    padding-top: 20px;
  }
}

@media only screen and (min-width: $mobile-hd) {
  .submit-send {
    width: 368px;
    height: 337px;

    padding-left: 13px;
    padding-right: 13px;
    padding-top: 22px;

    &__thing {
      width: 24px;
      height: 24px;

      border-radius: 12px;

      .fa-plus::before {
        font-size: 14px;
      }

      &--first {
        top: 4px;
        left: 4px;
      }

      &--second {
        top: 4px;
        right: 4px;
      }

      &--third {
        bottom: 4px;
        left: 4px;
      }

      &--fourth {
        bottom: 4px;
        right: 4px;
      }
    }
  }
}

@media only screen and (min-width: $tablets) {
  .submit-send {
    width: 624px;
    height: 419px;

    padding-left: 43px;
    padding-right: 43px;
    padding-top: 16px;

    position: relative;
    /*Сами руки*/
    &::before {
      position: absolute;
      content: '';

      background-image: url('../img/hands.svg');
      background-size: 922px 348px;
      background-repeat: no-repeat;
      background-position: center center;

      width: 922px;
      height: 348px;

      bottom: -25px;
      left: -150px;

      z-index: -2;
    }
    /*Основание кассеты*/
    &::after {
      position: absolute;
      content: '';

      background-image: url('../img/cassete-bottom.svg');
      background-size: 348px 46px;
      background-repeat: no-repeat;
      background-position: center center;

      width: 348px;
      height: 46px;

      bottom: -2px;
      left: 50%;

      transform: translateX(-50%);

    }
    /*Клешни*/
    &__hand {
      position: absolute;

      width: 160px;
      height: 83px;

      &--left {
        background-image: url('../img/hand-left.svg');
        background-size: 160px 83px;
        background-repeat: no-repeat;
        background-position: top center;

        top: 54%;
        left: -90px;

        transform: translateY(-54%);

        z-index: 10;
      }

      &--right {
        background-image: url('../img/hand-right.svg');
        background-size: 160px 83px;
        background-repeat: no-repeat;
        background-position: top center;

        top: 54%;
        right: -90px;

        transform: translateY(-54%);

        z-index: 10;
      }
    }

    &__backhand {
      position: absolute;

      width: 57px;
      height: 83px;

      background-color: #ffa726;

      border: 2px solid $bg-border;
      border-radius: 10px;

      &--left {
        top: 53%;
        left: -40px;

        transform: translateY(-53%);

        z-index: -3;
      }

      &--right {
        top: 53%;
        right: -40px;

        transform: translateY(-53%);

        z-index: -3;
      }
    }
  }
}
