.submit-send {
  width: 266px;
  height: 244px;

  background-color: $bg-player;
  border: 2px solid $bg-border;
  border-radius: 10px;

  position: relative;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 16px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__thing {
    position: absolute;

    width: 16px;
    height: 16px;
    border: 1px solid $bg-border;

    background-color: #78909c;

    border-radius: 8px;

    transform: rotate(45deg);

    .fa-plus::before {
      position: absolute;
      content: '\f067';

      font-size: 10px;
      color: $text-black;

      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }

    &--first {
      top: 2px;
      left: 2px;
    }

    &--second {
      top: 2px;
      right: 2px;
    }

    &--third {
      bottom: 2px;
      left: 2px;
    }

    &--fourth {
      bottom: 2px;
      right: 2px;
    }
  }
}
