.submit-controls {
  @include flex-setting(column, center, center);

  position: relative;

  margin-top: 120px;

  width: 194px;

  border: 2px solid $bg-border;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #78909c;

  border-bottom: none;

  padding-top: 17px;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 9px;

  /*Кнопка отправки формы*/
  &__btn {
    background-color: $bg-submit;

    @include flex-setting(column, center, center);
    width: 168px;
    height: 42px;

    border: 2px solid $bg-border;
    border-radius: 21px;

    cursor: pointer;
    outline: none;

    text-decoration: none;
    text-align: center;

    position: relative;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    box-shadow:1px 1px 20px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow:1px 1px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow:1px 1px 20px 0px rgba(0,0,0,0.3);

    &:hover {
      box-shadow: none;

      box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.3)inset;
      -webkit-box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.3)inset;
      -moz-box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.3)inset;

      .submit-controls__tech {
        display: none;
      }
    }
  }
  /*Вспомогательный элемент для блика..*/
  &__tech {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    width: 34px;
    height: 34px;

    top: 2px;
    right: 2px;

    &::after {
      position: absolute;
      content: '';
      width: 34px;
      height: 34px;
      border-radius: 17px;

      border-top: 4px solid #93e75d;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid transparent;

      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }
  }

  &__text {
    display: block;
    @include font-setting($primary-font, 1.375rem, 1, 700, $text-black);
  }

  &::before {
    width: 320px;
    height: 240px;

    background-image: url('../img/audio.svg');
    background-size: contain;
    background-repeat: no-repeat;

    z-index: -1;

    position: absolute;
    content: '';

    left: 50%;
    top: -140px;

    transform: translateX(-50%);
  }

  /*Болты*/

  &__thing {
    position: absolute;

    width: 12px;
    height: 12px;
    border: 1px solid $bg-border;

    background-color: #90a4ae;

    border-radius: 8px;

    transform: rotate(45deg);

    .fa-plus::before {
      position: absolute;
      content: '\f067';

      font-size: 6px;
      color: $text-black;

      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }

    &--first {
      top: 2px;
      left: 2px;
    }

    &--second {
      top: 2px;
      right: 2px;
    }

    &--third,
    &--fourth {
      display: none;
    }
  }
}

@media only screen and (min-width: $mobile) {
  .submit-controls {
    margin-top: 120px;
    width: 200px;

    transition: 0.2s ease-in;

    padding-top: 0.625rem;

    &::before {
      top: -135px;
    }

    &__text {
      font: {
        size: 1.375em;
      }
    }
  }
}

@media only screen and (min-width: $iphone) {
  .submit-controls {
    margin-top: 155px;
    width: 240px;

    &__text {
      font: {
        size: 1.375em;
      }
    }

    &::before {
      width: 360px;
      height: 311px;
      top: -175px;
    }
  }
}

@media only screen and (min-width: 414px) and (min-device-height: 719px) {
  .submit-controls {
    margin-top: 178px;
    width: 240px;

    &__text {
      font: {
        size: 1.375em;
      }
    }

    &::before {
      width: 360px;
      height: 311px;
      top: -200px;
    }
  }
}

@media only screen and (min-width: $tablets) {
  .submit-controls {
    margin-top: 43px;

    width: 194px;

    border: 2px solid $bg-border;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #78909c;

    border-bottom: none;

    padding-top: 17px;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 9px;

    z-index: auto;

    position: relative;

    &__btn {
      width: 168px;
      height: 42px;
    }

    &__text {
      margin-top: 8px;
      font: {
        size: 1.375em;
      }
    }

    &::before {
      display: none;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .submit-controls {
    margin-top: 0;

    width: 155px;

    padding-top: 17px;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 9px;

    &__btn {
      width: 131px;
      height: 33px;
    }

    &__text {
      margin: 0;
      font: {
        size: 1.125em;
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  .submit-controls {
    margin-top: 42px;

    width: 194px;

    &__btn {
      width: 168px;
      height: 42px;
    }

    &__text {
      font: {
        size: 1.375em;
      }
    }
  }
}
