.controls-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &--process {
    margin-right: 18px;
  }

  &--final:first-of-type {
    margin-right: 45px;
  }

  &--final:nth-of-type(2n) {
    margin-right: 30px;
  }

  &--help {
    display: none;
  }

  &__btn {
    background-color: transparent;

    width: 40px;
    height: 40px;

    border: 2px solid $bg-border;
    border-radius: 50%;

    position: relative;

    cursor: pointer;
    outline: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    box-shadow:0px 0px 15px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow:0px 0px 15px 0px rgba(0,0,0,0.25);
    -moz-box-shadow:0px 0px 15px 0px rgba(0,0,0,0.25);

    &:hover {
      box-shadow: none;

      box-shadow:0px 0px 15px 0px rgba(0,0,0,0.25)inset;
      -webkit-box-shadow:0px 0px 15px 0px rgba(0,0,0,0.25)inset;
      -moz-box-shadow:0px 0px 15px 0px rgba(0,0,0,0.25)inset;

      transition: 0.1s ease-in;

      &::after {
        display: none;
      }
    }

    /*Стилизация центров кнопок ( иконки )*/
    .controls-item__pic {
      position: absolute;

      top: 50%;
      left: 50%;

      width: 30px;
      height: 30px;

      border-radius: 50%;

      transform: translate(-50%, -50%) rotate(-45deg);

      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      &--play {
        background-image: url('../img/play.svg');
        background-size: 18px 18px;
        background-repeat: no-repeat;
        background-position: center center;
      }

      &--rec {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1.3px solid $bg-border;
      }

      &--pause {
        background-image: url('../img/pause.svg');
        background-size: 18px 18px;
        background-repeat: no-repeat;
        background-position: center center;
      }

      &--stop {
        width: 16px;
        height: 16px;
        border-radius: 0;
        border: 1.3px solid $bg-border;
      }

      &--help {
        background-image: url('../img/faq.svg');
        background-size: 18px 18px;
        background-repeat: no-repeat;
        background-position: center center;
      }

      &--send {
        background-image: url('../img/email.svg');
        background-size: 18px 18px;
        background-repeat: no-repeat;
        background-position: center center;
      }

      &--listen {
        background-image: url('../img/headphones.svg');
        background-size: 18px 18px;
        background-repeat: no-repeat;
        background-position: center center;
      }

      &--repeat {
        background-image: url('../img/refresh.svg');
        background-size: 18px 18px;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    &--play {
      background-color: $bg-play;
      transform: rotate(45deg);
      /*Добавляю блик*/
      &::after {
        position: absolute;
        content: '';
        width: 34px;
        height: 34px;
        border-radius: 17px;

        border-top: 4px solid #93e75d;
        border-left: 4px solid $bg-play;
        border-right: 4px solid $bg-play;
        border-bottom: 4px solid $bg-play;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
      }
    }

    &--rec {
      background-color: $bg-rec;
      transform: rotate(45deg);
      /*Добавляю блик*/
      &::after {
        position: absolute;
        content: '';
        width: 34px;
        height: 34px;
        border-radius: 17px;

        border-top: 4px solid #ff8686;
        border-left: 4px solid $bg-rec;
        border-right: 4px solid $bg-rec;
        border-bottom: 4px solid $bg-rec;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
      }
    }

    &--pause {
      background-color: $bg-pause;
      transform: rotate(45deg);
      /*Добавляю блик*/
      &::after {
        position: absolute;
        content: '';
        width: 34px;
        height: 34px;
        border-radius: 17px;

        border-top: 4px solid #a7e1fc;
        border-left: 4px solid $bg-pause;
        border-right: 4px solid $bg-pause;
        border-bottom: 4px solid $bg-pause;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
      }
    }

    &--stop {
      background-color: $bg-stop;
      transform: rotate(45deg);
      /*Добавляю блик*/
      &::after {
        position: absolute;
        content: '';
        width: 34px;
        height: 34px;
        border-radius: 17px;

        border-top: 4px solid #6accf9;
        border-left: 4px solid $bg-stop;
        border-right: 4px solid $bg-stop;
        border-bottom: 4px solid $bg-stop;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
      }
    }

    &--help {
      background-color: $bg-help;
      transform: rotate(45deg);
      /*Добавляю блик*/
      &::after {
        position: absolute;
        content: '';
        width: 34px;
        height: 34px;
        border-radius: 17px;

        border-top: 4px solid #badb94;
        border-left: 4px solid $bg-help;
        border-right: 4px solid $bg-help;
        border-bottom: 4px solid $bg-help;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
      }
    }

    &--send {
      background-color: $bg-send;
      transform: rotate(45deg);
      /*Добавляю блик*/
      &::after {
        position: absolute;
        content: '';
        width: 34px;
        height: 34px;
        border-radius: 17px;

        border-top: 4px solid #8ce653;
        border-left: 4px solid $bg-send;
        border-right: 4px solid $bg-send;
        border-bottom: 4px solid $bg-send;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
      }
    }

    &--listen {
      background-color: $bg-listen;
      transform: rotate(45deg);
      /*Добавляю блик*/
      &::after {
        position: absolute;
        content: '';
        width: 34px;
        height: 34px;
        border-radius: 17px;

        border-top: 4px solid #7bc0f8;
        border-left: 4px solid $bg-listen;
        border-right: 4px solid $bg-listen;
        border-bottom: 4px solid $bg-listen;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
      }
    }

    &--repeat {
      background-color: $bg-repeat;
      transform: rotate(45deg);
      /*Добавляю блик*/
      &::after {
        position: absolute;
        content: '';
        width: 34px;
        height: 34px;
        border-radius: 17px;

        border-top: 4px solid #ff8686;
        border-left: 4px solid $bg-repeat;
        border-right: 4px solid $bg-repeat;
        border-bottom: 4px solid $bg-repeat;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
      }
    }
  }
  /*Тексты кнопок для десктопа*/
  &__text {
    display: none;
    font: {
      family: $bold-font;
      size: 0.563em;
    }

    color: $text-black;
    line-height: 1;
  }
  /*Подписи кнопок для мобильной версии*/
  &__title {
    font: {
      family: $bold-font;
      size: 0.563em;
    }

    color: $text-black;
    line-height: 1;

    margin-top: 7px;
  }
}

@media only screen and (min-width: $mobile-hd) {
  .controls-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &--process {
      margin-right: 18px;
    }

    &--process:first-of-type {
      margin-left: 10px;
    }

    &--final:first-of-type {
      margin-right: 45px;
    }

    &--final:nth-of-type(2n) {
      margin-right: 30px;
    }

    &--help {
      display: none;
    }
  }
}

@media only screen and (min-width: $tablets) {
  .controls-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__title {
      display: none;

      &--help {
        display: block;
      }
    }
    /*Кнопки под десктоп*/
    &__btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      width: 100px;
      height: 40px;

      border: 2px solid $bg-border;
      border-radius: 20px;

      position: relative;
      /*Блики*/
      &--play {
        background-color: $bg-play;
        transform: rotate(0deg);
        /*Добавляю блик*/
        &::after {
          position: absolute;
          content: '';
          width: 34px;
          height: 34px;
          border-radius: 17px;

          border-top: 4px solid #93e75d;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-bottom: 4px solid transparent;

          top: 13px;
          right: -5px;

          transform: rotate(45deg) translateY(-50%);
        }
      }

      &--rec {
        background-color: $bg-rec;
        transform: rotate(0deg);
        /*Добавляю блик*/
        &::after {
          position: absolute;
          content: '';
          width: 34px;
          height: 34px;
          border-radius: 17px;

          border-top: 4px solid #ff8686;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-bottom: 4px solid transparent;

          top: 13px;
          right: -5px;

          transform: rotate(45deg) translateY(-50%);
        }
      }

      &--pause {
        background-color: $bg-pause;
        transform: rotate(0deg);
        /*Добавляю блик*/
        &::after {
          position: absolute;
          content: '';
          width: 34px;
          height: 34px;
          border-radius: 17px;

          border-top: 4px solid #a7e1fc;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-bottom: 4px solid transparent;

          top: 13px;
          right: -5px;

          transform: rotate(45deg) translateY(-50%);
        }
      }

      &--stop {
        background-color: $bg-stop;
        transform: rotate(0deg);
        /*Добавляю блик*/
        &::after {
          position: absolute;
          content: '';
          width: 34px;
          height: 34px;
          border-radius: 17px;

          border-top: 4px solid #6accf9;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-bottom: 4px solid transparent;

          top: 13px;
          right: -5px;

          transform: rotate(45deg) translateY(-50%);
        }
      }

      &--help {
        width: 40px;

        background-color: $bg-help;
        transform: rotate(0deg);
        /*Добавляю блик*/
        &::after {
          position: absolute;
          content: '';
          width: 34px;
          height: 34px;
          border-radius: 17px;

          border-top: 4px solid #badb94;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-bottom: 4px solid transparent;

          top: 13px;
          right: 13px;
          left: auto;

          transform: rotate(45deg) translateY(-50%);
        }
      }

      &--send {
        width: 150px;

        background-color: $bg-send;
        transform: rotate(0deg);
        /*Добавляю блик*/
        &::after {
          position: absolute;
          content: '';
          width: 34px;
          height: 34px;
          border-radius: 17px;

          border-top: 4px solid #8ce653;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-bottom: 4px solid transparent;

          top: 13px;
          right: 13px;
          left: auto;

          transform: rotate(45deg) translateY(-50%);
        }
      }

      &--listen {
        width: 150px;
        background-color: $bg-listen;
        transform: rotate(0deg);
        /*Добавляю блик*/
        &::after {
          position: absolute;
          content: '';
          width: 34px;
          height: 34px;
          border-radius: 17px;

          border-top: 4px solid #7bc0f8;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-bottom: 4px solid transparent;

          top: 13px;
          right: 13px;
          left: auto;

          transform: rotate(45deg) translateY(-50%);
        }
      }

      &--repeat {
        width: 150px;
        background-color: $bg-repeat;
        transform: rotate(0deg);
        /*Добавляю блик*/
        &::after {
          position: absolute;
          content: '';
          width: 34px;
          height: 34px;
          border-radius: 17px;

          border-top: 4px solid #ff8686;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-bottom: 4px solid transparent;

          top: 13px;
          right: 13px;
          left: auto;

          transform: rotate(45deg) translateY(-50%);
        }
      }

      /*Стилизация центров кнопок ( иконки )*/
      .controls-item__pic {
        position: absolute;
        left: 10px;

        width: 20px;
        height: 20px;

        border-radius: 50%;

        transform: translateY(-50%) rotate(0deg);

        &--play {
          background-image: url('../img/play.svg');
          background-size: 18px 18px;
          background-repeat: no-repeat;
          background-position: center center;
        }

        &--rec {
          width: 18px;
          height: 18px;
          border-radius: 50%;
          border: 1.3px solid $bg-border;
        }

        &--pause {
          background-image: url('../img/pause.svg');
          background-size: 18px 18px;
          background-repeat: no-repeat;
          background-position: center center;
        }

        &--stop {
          width: 16px;
          height: 16px;
          border-radius: 0;
          border: 1.3px solid $bg-border;
        }

        &--help {
          background-image: url('../img/faq.svg');
          background-size: 18px 18px;
          background-repeat: no-repeat;
          background-position: center center;
        }

        &--send {
          background-image: url('../img/email.svg');
          background-size: 18px 18px;
          background-repeat: no-repeat;
          background-position: center center;
        }

        &--listen {
          background-image: url('../img/headphones.svg');
          background-size: 18px 18px;
          background-repeat: no-repeat;
          background-position: center center;
        }

        &--repeat {
          background-image: url('../img/refresh.svg');
          background-size: 18px 18px;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    }
    /*Тексты кнопок для десктопа*/
    &__text {
      display: block;
      padding-left: 20px;

      font: {
        family: $bold-font;
        size: 0.75em;
      }

      color: $text-black;
      line-height: 1;

      transform: rotate(0deg);

      &--help {
        display: none;
      }
    }

    &--process {
      margin-right: 20px;
    }

    &--process:first-of-type {
      margin-left: 0;
    }

    &--process:last-of-type {
      margin-right: 0;
      margin-left: auto;
    }

    &--final:first-of-type {
      margin-right: 20px;
    }

    &--final:nth-of-type(2) {
      margin-right: 20px;
    }

    &--final:last-of-type {
      margin-right: 0;
      margin-left: auto;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .controls-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    /*Кнопки под десктоп*/
    &__btn {
      width: auto;

      padding-left: 20px;
      padding-right: 20px;

      /*Блики*/
      &--play {
        /*Добавляю блик*/
        &::after {
          top: 13px;
          right: 15px;
          left: auto;
        }
      }

      &--rec {
        /*Добавляю блик*/
        &::after {
          top: 13px;
          right: 15px;
          left: auto;
        }
      }

      &--pause {
        /*Добавляю блик*/
        &::after {
          top: 13px;
          right: 15px;
          left: auto;
        }
      }

      &--stop {
        /*Добавляю блик*/
        &::after {
          top: 13px;
          right: 15px;
          left: auto;
        }
      }

      &--help {
        width: 40px;
        padding: 0;

        margin-top: -5px;
        padding: 0;
      }

      &--send {
        width: auto;
      }

      &--listen {
        width: auto;
      }

      &--repeat {
        width: auto;
      }

      /*Стилизация центров кнопок ( иконки )*/
      .controls-item__pic {
        position: absolute;
        left: 10px;

        width: 30px;
        height: 30px;

        border-radius: 50%;

        transform: translateY(-50%) rotate(0deg);

        &--play {
          background-image: url('../img/play.svg');
          background-size: 24px 24px;
          background-repeat: no-repeat;
          background-position: center center;
        }

        &--rec {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          border: 1.5px solid $bg-border;
        }

        &--pause {
          background-image: url('../img/pause.svg');
          background-size: 24px 24px;
          background-repeat: no-repeat;
          background-position: center center;
        }

        &--stop {
          width: 22px;
          height: 22px;
          border-radius: 0;
          border: 1.5px solid $bg-border;
        }

        &--help {
          background-image: url('../img/faq.svg');
          background-size: 24px 24px;
          background-repeat: no-repeat;
          background-position: center center;

          left: 3px;
        }

        &--send {
          background-image: url('../img/email.svg');
          background-size: 24px 24px;
          background-repeat: no-repeat;
          background-position: center center;
        }

        &--listen {
          background-image: url('../img/headphones.svg');
          background-size: 24px 24px;
          background-repeat: no-repeat;
          background-position: center center;
        }

        &--repeat {
          background-image: url('../img/refresh.svg');
          background-size: 24px 24px;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    }
    /*Тексты кнопок для десктопа*/
    &__text {
      padding-left: 20px;

      font: {
        family: $alternate-font;
        size: 1.125em;
      }
    }

    &__title--help {
      margin-top: 1px;
    }

    &--process {
      margin-right: 14px;
    }

    &--final:first-of-type {
      margin-right: 14px;
    }

    &--final:nth-of-type(2) {
      margin-right: 14px;
    }
  }
}

@media only screen and (min-width: $hd) {
  .controls-item {
    &__text {
      font: {
        size: 1.25em;
      }
    }
  }
}
