.controls-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  &--final {
    justify-content: space-between;

    width: 100%;
  }
}

@media only screen and (min-width: $mobile-hd) {
  .controls-list {
    justify-content: space-between;
    align-items: flex-start;

    &--final {
      justify-content: space-between;

      width: 100%;
    }

    &--process {
      justify-content: space-between;
    }
  }
}

@media only screen and (min-width: $tablets) {
  .controls-list {
    justify-content: space-between;
    align-items: flex-start;

    &--final {
      justify-content: flex-start;

      width: 100%;
    }

    &--process {
      justify-content: flex-start;

      width: 100%;
    }
  }
}
