.main-record {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  &__title {
    width: 290px;
    margin: 0;

    font: {
      family: $bold-font;
      size: 0.688em;
    }

    color: $text-white;
    line-height: normal;
    text-align: center;

    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__subtitle {
    width: 225px;
    margin: 0;

    font: {
      family: $bold-font;
      size: 0.688em;
    }

    color: $text-white;
    line-height: normal;
    text-align: center;

    margin-top: 0;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: $mobile) {
  .main-record {
    &__title {
      width: 290px;

      font: {
        size: 0.688em;
      }

      margin-top: 10px;
      margin-bottom: 10px;
    }

    &__subtitle {
      width: 280px;

      font: {
        size: 0.688em;
      }
    }
  }
}

@media only screen and (min-width: $iphone) {
  .main-record {
    &__title {
      width: 380px;

      font: {
        size: 1em;
      }

      margin-top: 40px;
      margin-bottom: 10px;
    }

    &__subtitle {
      width: 380px;

      font: {
        size: 1em;
      }

      margin-bottom: 50px;
    }
  }
}

@media only screen and (min-width: $mobile-hd) {
  .main-record {
    &__title {
      width: 380px;

      font: {
        size: 1.125em;
      }

      margin-top: 10px;
      margin-bottom: 10px;
    }

    &__subtitle {
      width: 380px;

      font: {
        size: 1.125em;
      }

      margin-bottom: 20px;
    }
  }
}

@media only screen and (min-width: $tablets) {
  .main-record {
    margin-top: -70px;

    &__title {
      width: 380px;

      font: {
        size: 1em;
      }

      margin-top: 20px;
      margin-bottom: 20px;
    }

    &__subtitle {
      width: 380px;

      font: {
        size: 1em;
      }
    }
  }
}

@media only screen and (min-width: $laptop) {
  .main-record {
    margin-top: -55px;

    position: relative;

    &::before {
      position: absolute;
      content: '';

      bottom: -3px;
      left: 50%;

      transform: translateX(-50%);

      background-image: url('../img/record-back.svg');
      background-repeat: no-repeat;
      background-size: 960px 503px;
      background-position: top center;

      width: 960px;
      height: 503px;

      z-index: -3;
    }

    &::after {
      width: 974px;
      height: 467px;

      background-image: url('../img/big-bottom.svg');
      background-size: 100%;
      background-repeat: no-repeat;

      z-index: -4;

      position: absolute;
      content: '';

      left: auto;
      right: auto;
      bottom: -467px;
    }

    &__title {
      width: 400px;

      font: {
        size: 1em;
      }

      margin-bottom: 0px;
    }

    &__subtitle {
      width: 680px;

      font: {
        size: 1em;
      }

      margin-bottom: 10px;
    }
  }
}

@media only screen and (min-width: $large-laptop) {
  .main-record {
    margin-top: -31px;

    &__title {
      width: 600px;

      font: {
        size: 1em;
      }

      margin-top: 35px;
      margin-bottom: 0px;
    }

    &::before {
      bottom: -2px;
    }

    &::after {
      bottom: -466px;
    }

    &__subtitle {
      width: 680px;

      font: {
        size: 1em;
      }

      margin-bottom: 20px;
    }
  }
}

@media only screen and (min-width: $widebooks) {
  .main-record {
    margin-top: -55px;

    &__title {
      width: 400px;

      font: {
        size: 1em;
      }

      margin-top: 20px;
      margin-bottom: 0px;
    }

    &::before {
      bottom: -2px;
    }

    &::after {
      bottom: -466px;
    }

    &__subtitle {
      width: 680px;

      font: {
        size: 1em;
      }

      margin-top: 0px;
      margin-bottom: 10px;
    }
  }
}

@media only screen and (min-width: $hd) {
  .main-record {
    margin-top: -100px;

    &__title {
      width: 400px;

      font: {
        size: 1.125em;
      }

      margin-top: 0px;
    }

    &::before {
      bottom: -2px;
    }

    &::after {
      bottom: -466px;
    }

    &__subtitle {
      width: 680px;

      font: {
        size: 1.125em;
      }

      margin-bottom: 46px;
    }
  }
}

@media only screen and (min-width: $fhd) {
  .main-record {
    margin-top: 0;

    &__subtitle {
      margin-bottom: 10px;
    }
  }
}
