.main-record {
  @include flex-setting(column, flex-start, center);
  width: 100%;

  &__title {
    width: 250px;

    @include font-setting($primary-font, 0.625rem, 1.2, 700, $text-white);

    text-align: center;

    margin-top: 0.25rem;
    margin-bottom: 0.125rem;
  }

  &__subtitle {
    width: 200px;
    margin: 0;

    @include font-setting($primary-font, 0.625rem, 1.2, 700, $text-white);
    text-align: center;

    margin-top: 0;
    margin-bottom: 0.125rem;
  }
}

@media only screen and (min-width: $mobile) {
  .main-record {
    &__title {
      width: 290px;

      font-size: 0.688rem;
      margin-top: 0.625rem;
      margin-bottom: 0.5rem;
    }

    &__subtitle {
      width: 280px;
      font-size: 0.688rem;
    }
  }
}

@media only screen and (min-width: $iphone) {
  .main-record {
    &__title {
      width: 380px;

      font-size: 0.875rem;

      margin-top: 0.625rem;
      margin-bottom: 0.625rem;
    }

    &__subtitle {
      width: 340px;

      font-size: 0.875rem;

      margin-bottom: 0.625rem;
    }
  }
}

@media only screen and (min-width: 414px) and (min-device-height: 719px) {
  .main-record {
    &__title,
    &__subtitle {
      font-size: 1rem;

      margin-top: 1.125rem;
      margin-bottom: 1.125rem;
    }

    &__subtitle {
      margin-top: 0;
      margin-bottom: 1.875rem;
    }
  }
}

@media only screen and (min-width: $tablets) {
  .main-record {
    margin-top: -70px;

    &__title {
      width: 420px;

      font-size: 1.25rem;

      margin-top: 20px;
      margin-bottom: 20px;
    }

    &__subtitle {
      width: 420px;

      font-size: 1.25rem;
      margin-bottom: 4.5rem;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .main-record {
    margin-top: -55px;

    position: relative;

    &::before {
      position: absolute;
      content: '';

      bottom: 0;
      left: 50%;

      transform: translateX(-50%);

      background-image: url('../img/record-back.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;

      width: 776px;
      height: 406px;

      z-index: -3;
    }

    &::after {
      width: 974px;
      height: 467px;

      background-image: url('../img/big-bottom.svg');
      background-size: 100%;
      background-repeat: no-repeat;

      z-index: -4;

      position: absolute;
      content: '';

      left: auto;
      right: auto;
      bottom: -467px;
    }

    &__title {
      width: 600px;
      font-size: 1rem;
      margin-bottom: 0px;
    }

    &__subtitle {
      width: 680px;
      font-size: 1rem;
      margin-bottom: 10px;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .main-record {
    &::before {
      bottom: -2px;
    }

    &::after {
      width: 800px;
      height: 600px;
      background-size: contain;

      bottom: -599px;
      z-index: 3;
    }
  }
}

@media only screen and (min-width: $hd) {
  .main-record {
    margin-top: -100px;

    &__title {
      width: 660px;

      font-size: 1.125rem;
      margin-top: 0;
      margin-bottom: 0.625rem;
    }

    &__subtitle {
      width: 680px;

      font-size: 1.125rem;
      margin-bottom: 0.625rem;
    }

    &::before {
      width: 960px;
      height: 500px;
    }

    &::after {
      width: 974px;
      height: 600px;
      bottom: -599px;
    }
  }
}

@media only screen and (min-width: $fhd) {
  .main-record {
    margin-top: 0;

    &__subtitle {
      margin-bottom: 10px;
    }
  }
}
