.player-middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  position: relative;

  &__column {
    background-color: $bg-player;
    width: 25px;
    height: 151px;
  }
  /*Скрыто*/
  &__speaker {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s, visibility 0s linear 0.8s;
  }

  &__content {
    width: 268px;
    height: 151px;
    border-radius: 10px;
    border: 2px solid $bg-border;
    overflow: hidden;
    background-color: $bg-player;

    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__video {
    width: 270px;
    height: 153px;
    border: none;
    border-radius: 10px;
  }
}

@media only screen and (min-width: $iphone) {
  .player-middle {
    &__column {
      background-color: $bg-player;
      width: 32px;
      height: 196px;
    }

    &__content {
      width: 348px;
      height: 196px;
    }

    &__video {
      width: 351px;
      height: 199px;
    }
  }
}

@media only screen and (min-width: $tablets) {
  .player-middle {
    &__column {
      background-color: $bg-player;
      width: 50px;
      height: 302px;
    }

    &__content {
      width: 536px;
      height: 302px;
    }

    &__video {
      width: 540px;
      height: 306px;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .player-middle {
    &__column {
      background-color: $bg-player;
      width: 112px;
      height: 280px;

      text-align: center;

      border-top: 2px solid $bg-border;
      border-bottom: 2px solid $bg-border;

      &--left {
        position: relative;

        &::before {
          position: absolute;
          content: '';

          width: 112px;
          height: 10px;

          border-bottom: 2px solid $bg-border;
          background-color: #ffb74d;

          left: 0;
          top: 0;
        }

        &::after {
          position: absolute;
          content: '';

          width: 112px;
          height: 10px;

          border-top: 2px solid $bg-border;
          background-color: #ffb74d;

          left: 0;
          bottom: 0;
        }
      }

      &--right {
        position: relative;

        &::before {
          position: absolute;
          content: '';

          width: 112px;
          height: 10px;

          border-bottom: 2px solid $bg-border;
          background-color: #ffb74d;

          left: 0;
          top: 0;
        }

        &::after {
          position: absolute;
          content: '';

          width: 112px;
          height: 10px;

          border-top: 2px solid $bg-border;
          background-color: #ffb74d;

          left: 0;
          bottom: 0;
        }
      }
    }

    &__speaker {
      visibility: visible;
      opacity: 1;
      transition-delay: 0.8s;

      width: 78px;
      height: 200px;

      margin-top: 41px;
    }

    &__content {
      width: 412px;
      height: 280px;

      border-radius: 0;
      transition: 0.8s ease-in;
    }

    &__video {
      width: 412px;
      height: 280px;

      border-radius: 0;
      transition: 0.8s ease-in;
    }
  }
}

@media only screen and (min-width: 1920px) {
  .player-middle {
    &__column {
      width: 112px;
      height: 320px;

      &--left {
        &::before {
          width: 112px;
          height: 10px;
        }

        &::after {
          width: 112px;
          height: 10px;
        }
      }

      &--right {
        &::before {

          width: 112px;
          height: 10px;
        }

        &::after {
          width: 112px;
          height: 10px;
        }
      }
    }

    &__speaker {
      visibility: visible;
      opacity: 1;
      transition-delay: 0.8s;

      width: 78px;
      height: 250px;

      margin-top: 41px;
    }

    &__content {
      width: 566px;
      height: 320px;
    }

    &__video {
      width: 570px;
      height: 322px;
    }
  }
}
