.player-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-right: 18px;

  &__title {
    font: {
      family: $bold-font;
      size: 0.625em;
    }

    color: $text-black;
    line-height: 1;

    display: block;
    padding-left: 20px;

    position: relative;

    &::after {
      position: absolute;
      content: '';

      width: 12px;
      height: 12px;

      border: 1px solid $bg-border;
      border-radius: 6px;

      background-color: $bg-status;

      left: 0;
      top: 50%;

      transform: translateY(-50%);

      box-shadow: 0 0 0 rgba(244,67,54, 0.4);
      animation: pulse 1s infinite;
    }

    @keyframes pulse {
      0% {
        box-shadow: 0 0 0 0 rgba(244,67,54, 0.6);
      }

      70% {
        box-shadow: 0 0 0 7px rgba(244,67,54, 0);
      }

      100% {
        box-shadow: 0 0 0 0 rgba(244,67,54, 0);
      }
    }
  }
}

@media only screen and (min-width: $mobile-hd) {
  .player-status {
    &__title {
      font: {
        size: 0.875em;
      }

      padding-left: 30px;

      &::after {
        width: 18px;
        height: 18px;

        border-radius: 9px;
      }
    }
  }
}

@media only screen and (min-width: $tablets) {
  .player-status {
    margin-right: 27px;
  }
}
