.record-controls {
  background-color: $bg-controls;
  border: 2px solid $bg-border;

  width: 294px;

  margin-bottom: 0;

  margin-top: 150px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;

  position: relative;
  /*Заголовок, когда запись готова, меняется видимость*/
  &__title {
    visibility: hidden;

    position: absolute;
    top: -45px;
    left: -2px;

    font: {
      size: 1.125em;
      family: $bold-font;
    }

    color: $text-black;
    line-height: 1;

    margin: 0;
    padding-top: 11px;
    padding-bottom: 12px;

    display: block;
    width: 294px;

    border: 2px solid $bg-border;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;

    text-align: center;

    background-color: #ff6d00;

    &--visible {
      visibility: visible;
    }
  }

  &::before {
    position: absolute;
    content: '';

    width: 311px;
    height: 150px;

    background-image: url('../img/mic-bg.png');
    background-repeat: no-repeat;
    background-size: 311px 150px;

    top: -152px;
    left: -10px;
  }

  /*Болты*/
  &__thing {
    position: absolute;

    width: 12px;
    height: 12px;
    border: 1px solid $bg-border;

    background-color: #90a4ae;

    border-radius: 8px;

    transform: rotate(45deg);

    .fa-plus::before {
      position: absolute;
      content: '\f067';

      font-size: 6px;
      color: $text-black;

      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }

    &--first {
      top: 2px;
      left: 2px;
    }

    &--second {
      top: 2px;
      right: 2px;
    }
  }
}

@media only screen and (min-width: $iphone) {
  .record-controls {
    width: 380px;

    padding-left: 22px;
    padding-right: 22px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    margin-top: 148px;

    &::before {
      width: 380px;
      height: 176px;

      background-size: cover;

      left: -2px;
      top: -152px;

      z-index: -1;
    }

    &__title {
      width: 320px;
    }
  }
}

@media only screen and (min-width: 414px) and (min-device-height: 719px) {
  .record-controls {
    width: 380px;

    padding-left: 22px;
    padding-right: 22px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    margin-top: 170px;

    &::before {
      width: 380px;
      height: 176px;

      background-size: cover;

      left: -2px;
      top: -176px;

      z-index: -1;
    }

    &__title {
      width: 320px;
    }
  }
}

@media only screen and (min-width: $tablets) {
  .record-controls {
    width: 600px;

    margin-top: 37px;

    padding-top: 20px;

    position: relative;

    &__title {
      width: 320px;

      left: 50%;
      transform: translateX(-50%);
    }

    &::before {
      position: absolute;
      content: '';

      width: 600px;
      height: 42px;

      background-image: url('../img/wood-lines.svg');
      background-repeat: no-repeat;
      background-size: 600px 42px;

      top: -42px;
      left: 0;

      z-index: -2;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .record-controls {
    width: 640px;

    margin-top: -5px;
    padding-top: 10px;
    padding-bottom: 4px;
    padding-left: 24px;

    border-bottom: none;

    &::before {
      display: none;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .record-controls {
    width: 640px;

    margin-top: 37px;
    padding-top: 10px;
    padding-bottom: 4px;
    padding-left: 24px;

    border-bottom: none;

    &::before {
      display: block;
    }
  }
}

@media only screen and (min-width: 1920px) {
  .record-controls {
    width: 800px;

    margin-top: 37px;
    padding-top: 10px;
    padding-bottom: 4px;
    padding-left: 48px;

    border-bottom: none;

    &::before {
      top: -42px;
      left: 50%;
      transform: translateX(-50%);

      z-index: -2;
    }
  }
}
