.record-controls {
  background-color: $bg-controls;
  border: 2px solid $bg-border;

  width: 294px;

  margin-bottom: 0;

  margin-top: 145px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;

  position: relative;

  &::before {
    position: absolute;
    content: '';

    width: 311px;
    height: 150px;

    background-image: url('../img/tubes-wires.svg');
    background-repeat: no-repeat;
    background-size: 311px 150px;

    top: -150px;
    left: -10px;
  }

  /*Болты*/
  &__thing {
    position: absolute;

    width: 12px;
    height: 12px;
    border: 1px solid $bg-border;

    background-color: #90a4ae;

    border-radius: 8px;

    transform: rotate(45deg);

    .fa-plus::before {
      position: absolute;
      content: '\f067';

      font-size: 6px;
      color: $text-black;

      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }

    &--first {
      top: 2px;
      left: 2px;
    }

    &--second {
      top: 2px;
      right: 2px;
    }
  }
}

@media only screen and (min-width: $mobile-hd) {
  .record-controls {
    width: 320px;

    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;

    &::before {
      left: 3px;
    }
  }
}

@media only screen and (min-width: $tablets) {
  .record-controls {
    width: 600px;

    margin-top: 37px;

    padding-top: 20px;

    position: relative;

    &::before {
      position: absolute;
      content: '';

      width: 600px;
      height: 42px;

      background-image: url('../img/wood-lines.svg');
      background-repeat: no-repeat;
      background-size: 600px 42px;

      top: -42px;
      left: 0;

      z-index: -2;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .record-controls {
    width: 800px;

    margin-top: 37px;
    padding-top: 10px;
    padding-bottom: 4px;
    padding-left: 48px;

    border-bottom: none;

    &::before {
      top: -42px;
      left: 50%;
      transform: translateX(-50%);

      z-index: -2;
    }
  }
}
