.record-player {
  @include flex-setting(column, flex-start, center);

  width: 294px;
  height: 185px;

  border: 2px solid $bg-border;
  border-radius: 10px;

  position: relative;
}

@media only screen and (min-width: $iphone) {
  .record-player {
    width: 382px;
    height: 245px;
  }
}

@media only screen and (min-width: 414px) and (min-device-height: 719px) {
  .record-player {
    height: 260px;
  }
}

@media only screen and (min-width: $tablets) {
  .record-player {
    width: 588px;
    height: 418px;
  }
}

@media only screen and (min-width: $laptop) {
  .record-player {
    width: 640px;
    height: 350px;

    transition: 0.2s ease-in;

    border-radius: 20px;

    z-index: 10;
  }
}

@media only screen and (min-width: 1920px) {
  .record-player {
    width: 794px;
    height: 422px;

    border-radius: 30px;
  }
}
